* {
  padding: 0;
  margin: 0;
}

.btn {
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s linear;
  background: transparent;
  text-transform: uppercase;
  cursor: pointer;
}

a,
a:active,
a:focus {
  color: inherit;
  text-decoration: none;
}

.btn-brown {
  background-color: #814334;
  color: white;
  border: 2px solid transparent;
}

.btn-light,
.btn-combo:hover {
  background-color: #e4d1b0;
  color: #814334;
  border: 2px solid transparent;
}

.btn-combo {
  border: 2px solid #e4d1b0 !important;
}

.btn-brown:hover,
.btn-combo {
  border-color: #814334;
  color: #814334;
  background-color: white;
}

.btn-light:hover {
  border-color: #e6ae83;
  color: #814334;
  background-color: white;
}

.btn-brown:active {
  box-shadow: 3px 3px 5px #814334;
}

body {
  position: relative;
  margin: 0;
  padding: 24px;
  min-width: 330px;
  min-height: 500px;
}

body::before,
body::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  z-index: -1;
}

body::before {
  right: 0;
  background-color: #814334;
}

body::after {
  left: 0;
  background-color: #e6ae83;
}

.front-main {
  background-color: #e4d1b0;
  display: flex;
  justify-content: space-evenly;
  height: calc(100vh - 48px);
  min-height: 500px;
  transition: 0.35s;
}

.front-main img {
  height: 100%;
  object-fit: cover;
}

.front-main .main-header-details {
  letter-spacing: 1.5px;
  font-size: 18px;
  width: 500px;
  height: fit-content;
  text-align: justify;
  border-left: 3px solid #814334;
  margin: auto 0;
  margin-left: 16px;
  padding: 20px;
}

.front-main .main-header-details p {
  font-size: 20px;
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  letter-spacing: 3px;
}

.front-main .main-header-details h1 {
  font-size: 60px;
  margin: 18px 0;
  color: #814334;
  text-transform: capitalize;
  font-weight: bolder;
}

.front-main .main-header-details a {
  display: block;
  margin-top: 16px;
}

.front-main .main-header-details a > button {
  font-size: 14px;
  padding: 14px 30px;
}

.nav-bar {
  position: fixed;
  z-index: 9999;
  top: 36px;
  left: 48px;
  right: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.web-title {
  display: flex;
  font-size: 18px;
  letter-spacing: 3px;
  font-weight: bolder;
  text-transform: uppercase;
  line-height: 24px;
  transition: 0.4s;
}

.web-title i {
  font-size: 22px;
  color: #814334;
  transition: 0.4s;
}

label[for="nav-toggler"] > i {
  position: relative;
  font-size: 22px;
  cursor: pointer;
  color: #814334;
}

.rotate_b {
  animation: rotate_i_b 0.5s infinite;
}
.rotate_x {
  animation: rotate_i_x 0.5s infinite;
}

@keyframes rotate_i_b {
  0% {
    transform: rotate(0deg) rotate(45deg) scale(0.5);
  }
  100% {
    transform: rotate(0deg) rotate(180deg) scale(1);
  }
}

@keyframes rotate_i_x {
  0% {
    transform: rotate(0deg) rotate(45deg) scale(1);
  }
  100% {
    transform: rotate(0deg) rotate(180deg) scale(0.5);
  }
}

#nav-toggler:checked ~ .nav-bar > label[for="nav-toggler"] > i {
  color: #e4d1b0;
}

.side-bar {
  position: fixed;
  top: 0;
  bottom: 0;
  right: -250px;
  background-color: #814334;
  text-align: center;
  transition: 0.3s linear;
  width: 250px;
}

.navbar-options {
  margin: 24px;
  margin-top: 120px;
  list-style: none;
}

.navbar-options .navbar-item {
  margin-top: 24px;
}

.navbar-options .navbar-item {
  font-size: 20px;
  color: #e4d1b0;
}

.navbar-options .navbar-item button {
  width: 150px;
  padding: 8px;
  font-size: 14px;
  font-weight: bolder;
}

#nav-toggler:checked ~ .side-bar {
  right: 0px;
}

@media screen and (max-width: 994px) {
  .front-main .main-header-details {
    letter-spacing: normal;
    font-size: 14px;
    text-align: left;
  }

  .front-main .main-header-details p {
    font-size: 16px;
    letter-spacing: normal;
  }

  .front-main .main-header-details h1 {
    font-size: 50px;
  }

  .front-main .main-header-details a > button {
    font-size: 11px;
    padding: 12px 20px;
  }
}

@media screen and (max-width: 796px) {
  .front-main img {
    display: none;
  }

  .front-main {
    justify-content: center;
  }
}

@media screen and (max-width: 396px) {
  .front-main .main-header-details {
    font-size: 13px;
  }

  .front-main .main-header-details p {
    font-size: 14px;
    letter-spacing: normal;
  }

  .front-main .main-header-details h1 {
    font-size: 30px;
  }

  .front-main .main-header-details a > button {
    font-size: 10px;
    padding: 8px 11px;
  }

  .side-bar {
    right: -100%;
    width: 100%;
  }
  #nav-toggler:checked ~ .nav-bar > .web-title i,
  #nav-toggler:checked ~ .nav-bar > .web-title {
    color: #e6ae83;
  }
}
